<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12" padding-right padding-bottom>
      <mat-card>
        <mat-card-header>
          <mat-card-title>花市歷史價格列表</mat-card-title>
        </mat-card-header>
        <mat-card-content style="overflow: auto;">
          <ng-container *ngIf="priceAnthuriumLo$ | async"></ng-container>
          <div class="fixHeader">
            <table mat-table matSort [dataSource]="dataSource">

              <ng-container matColumnDef="d">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>日期</th>
                <td mat-cell *matCellDef="let element"> {{element.d}} </td>
              </ng-container>

              <ng-container matColumnDef="market">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>花市名稱</th>
                <td mat-cell *matCellDef="let element"> {{element.market}} </td>
              </ng-container>

              <ng-container matColumnDef="avg_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>平均價格</th>
                <td mat-cell *matCellDef="let element"> {{element.avg_price}} </td>
              </ng-container>

              <ng-container matColumnDef="total_sell">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>總數量</th>
                <td mat-cell *matCellDef="let element"> {{element.total_sell}} </td>
              </ng-container>

              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>年度</th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
              </ng-container>
              <ng-container matColumnDef="week">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>週數</th>
                <td mat-cell *matCellDef="let element"> {{element.week}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <mat-paginator [pageSizeOptions]="[10, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>